:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-clr-btn: #f5f4fa;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: var(--primary-text-color);

  margin: 0;
}

li {
  list-style: none;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
h1,
h2,
h3 {
  margin: 0;
}
img {
  display: block;
}
/* Шапка сайта */
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  display: block;
  padding-top: 24px;
  padding-bottom: 25px;

  color: var(--accent-color);
}
.logo-title {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: #000000;
}
.header {
  display: flex;
  width: 1200px;
  height: 80px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.nav-box {
  display: flex;
}
.contact-box {
  display: flex;
  margin-left: 331px;
}
.navigation-links {
  display: flex;
  margin-left: 93px;
}
.navigation-links .site-nav + .site-nav {
  margin-left: 50px;
}
.link-nav {
  display: block;
  padding: 32px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}
.link-nav.current {
  color: var(--accent-color);
}
.link-nav:hover,
.link-nav.current:focus {
  color: var(--accent-color);
}

.link-nav.current:active {
  color: var(--accent-color);
}
.contact-box .site-contact + .site-contact {
  margin-left: 50px;
}
.contact-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  color: var(--primary-text-color);

  display: block;
  padding: 32px 0;
}
.contact-nav:hover,
.contact-nav:focus {
  color: var(--accent-color);
}

/* Секция Герой */
.hero {
  background: #2f303a;
}
.hero-conteiner {
  text-align: center;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;
}
.hero-title {
  width: 696px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.button {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 200px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;

  letter-spacing: 0.06em;
  cursor: pointer;

  background-color: var(--accent-color);
  color: #ffffff;
}

/* Основные задачи Веб-Студии */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 97px;
  margin-bottom: 94px;
}
.features {
  display: flex;
}
.features-item {
  width: 270px;
}
.features .features-item + .features-item {
  margin-left: 30px;
}
.features-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.features-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* Задачи Веб-Студии */
.container-task {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
}
.tasks-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.tasks {
  display: flex;
}
.tasks .task-item + .task-item {
  margin-left: 30px;
}

/* Наша команда */
.container-team {
  background: #f5f4fa;
}
.our-team {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  height: 648px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}
.team-title {
  padding-top: 94px;
  padding-bottom: 50px;

  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;

  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.list-members {
  display: flex;
  text-align: center;
  width: 1170px;
  height: 368px;
  margin-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}
.list-members .member + .member {
  margin-left: 30px;
}
.member {
  width: 270px;
  height: 368px;

  background-color: #ffffff;
}
.team-member {
  margin-top: 30px;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.team-stream {
  margin-top: 10px;
  text-align: center;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* Футер */
.footer {
  background: #2f303a;
  display: block;
}
.footer-item {
  align-items: flex-start;
  width: 1200px;
  height: 252px;
  padding: 60px 15px;
  margin-left: auto;
  margin-right: auto;
}
.logotype {
  display: block;
  margin-right: 0;
}
.logo-footer {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  display: block;

  color: var(--accent-color);
}
.address {
  display: block;
  width: 231px;
  height: 81px;
  padding-top: 20px;
  padding-bottom: 60px;
  margin-right: 0;
}
.logo-title-footer {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.address .address-item + .address-item {
  padding-top: 9px;
}
.address-text {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.address-link {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

/* Страница Портфолио */

.button-filter {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;

  color: var(--title-text-color);
  background-color: var(--background-clr-btn);
}
.button-filter:hover,
.button-filter:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}
.button-filter .active:active {
  color: #ffffff;
  background-color: var(--accent-color);
}
/* Галерея проектов */
.cards-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}
.cards-item {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
